<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10">
            <div class="container-fluid">
                <h1>Wycieczki:</h1>
                <div class="row">
                    <app-wycieczka class="col-sm-3" *ngFor="let wycieczka of tours" [wycieczka]=wycieczka
                        [isCheapest]=false [isMostExpensive]=false (signaledRemoved)=tourRemoved($event)
                        (tourAddedToBasket)=tourAddedToBasket($event) [index]=wycieczka.id>
                    </app-wycieczka>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <app-basket></app-basket>
        </div>
    </div>
</div>

<div>

    <app-new-tour (newTourPosted)=newTourAdded()></app-new-tour>

</div><br>