<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10">
            <div class="container-fluid">
                <h1>Wycieczki:</h1>
                <div class="row">
                    <app-wycieczka class="col jumbotron tour" *ngFor="let wycieczka of tours" [wycieczka]=wycieczka
                        [isCheapest]=false [isMostExpensive]=false (signaledRemoved)=tourRemoved($event)
                        (tourAddedToBasket)=tourAddedToBasket($event) [index]=wycieczka.id>
                    </app-wycieczka>
                </div>
            </div>
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </div>
        <div class="col-sm-2">
            <app-basket></app-basket>
        </div>

    </div>

    <!-- <div class="row justify-content-center"> -->
    <!-- <div class="col"> -->

    <!-- </div> -->
    <!-- </div> -->
</div>

<div>

</div><br>