<td>{{tourDate.startDate | date: 'dd/MM/yyyy'}}</td>
<td>{{tourDate.endDate | date: 'dd/MM/yyyy'}}</td>
<td>{{tourDate.maxRes}}</td>
<td>{{tourDate.maxRes - tourDate.currRes}}</td>
<td>
    <div class="btn-group">
        <button class="tour-button btn btn-primary" [ngClass]="reservedTours === 0 ? 'disabled' : ''"
            (click)="minusButton(tourDate.id)">-</button>
        <button class="tour-button btn btn-primary" [ngClass]="tourDate.maxRes === reservedTours + tourDate.currRes ? 'disabled' : ''"
            (click)="plusButton(tourDate.id)">+</button>
        <button class="tour-button btn btn-primary" (click)="addTourToBasket(tourDate.id)">Add to basket <span
                class="badge badge-light">{{reservedTours}}</span></button><br />
    </div>
</td>