<div class="container">
    <a *ngIf='tour'>
        {{tour.nazwa}}<br>
        {{tour.docelowyKraj}}<br>
        {{tour.dataRozpoczecia}}<br>
        {{tour.dataZakonczenia}}<br>
        {{tour.cenaJednostkowa}}<br>
        {{tour.maxIloscMiejsca}}<br>
        {{tour.opisWycieczki}}<br>
        <img class="rounded-image" src="{{tour.link}}"><br>
        {{tour.rezerwacje}}<br>
        {{tour.waluta}}<br>
        <a *ngIf='isInBasket'>Wycieczka juz w koszyku<br>
            Ocena:
            <div class="radio">
                <label>
                    <input type="radio" name="review" value="1" (click)="setReview(1)">
                    1
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="review" value="2" (click)="setReview(2)">
                    2
                </label>
            </div>
        </a>
    </a>
</div>