<a *ngIf='tour'>
    <div>
        <div id="demo" class="carousel slide" data-ride="carousel">
            <ul class="carousel-indicators">
                <div *ngFor="let photo of tour.photos ; index as i">
                    <li data-target="#demo" data-slide-to="i"> </li>
                </div>
            </ul>
            <div class="carousel-inner">
                <div class="carousel-item" [ngClass]="[i === 0 ? 'active' : '']"
                    *ngFor="let photo of tour.photos; index as i">
                    <img src="{{photo}}" style="max-height: 700px;" />
                    <div class="carousel-caption">
                        <h1>{{tour.docelowyKraj}}</h1>
                        <h3>{{tour.nazwa}}</h3>
                        <p>{{tour.opisWycieczki}}</p>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>

    <div style="margin-top:80px">
        <div class="container">
            <span class="boldtext">Country:</span> {{tour.docelowyKraj}}<br>
            <span class="boldtext">Description:</span> {{tour.opisWycieczki}}<br>
            <span class="boldtext">Price:</span> {{tour.cenaJednostkowa}}<br>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Start</th>
                        <th>End</th>
                        <th>Max</th>
                        <th>Available</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <a *ngIf='tourDates'>
                        <tr app-basket-tour-entry *ngFor="let tourDate of tourDates" [tour]="tour"
                            [tourDate]="tourDate">
                        </tr>
                    </a>
                </tbody>
            </table>
            <span class="boldtext">Rating:</span> {{getRating()}}/5 ({{rateCount}})<br>
            <a *ngIf='userDidBuy && didNotRate'>
                Rate: <app-rating (rated)="tourRated($event)"></app-rating>
            </a>
        </div>
    </div>
</a>