<div style="margin-top:80px">
    <div class="container">
        <h2>Tour</h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Tour name</th>
                    <th>Country</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Price</th>
                    <th>Amount</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tour of getTours()">
                    <td>{{tour.tour.nazwa}}</td>
                    <td>{{tour.tour.docelowyKraj}}</td>
                    <td>{{tour.tourDate.startDate | date: 'dd/MM/yyyy'}}</td>
                    <td>{{tour.tourDate.endDate | date: 'dd/MM/yyyy'}}</td>
                    <td>{{tour.tour.cenaJednostkowa | currency: tour.tour.waluta }}</td>
                    <td>{{tour.reservedTours}}</td>
                    <td>
                        <button class="tour-button btn btn-primary" (click)="deleteTour(tour.basketId)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <h5>Total: <span class="nonbold">{{basketService.getCostTotal()}}</span></h5>
        <td>
            <button *ngIf="getTours().length !== 0" class="tour-button btn btn-primary" (click)="deleteTour(tour.basketId)">Pay</button>
        </td>
    </div>
</div>