<div style="margin-top:80px">
    <div class="container">
        <h2>Tour</h2>
        <p>Tests</p>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Tour name</th>
                    <th>Country</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tour of tours">
                    <td>{{tour.nazwa}}</td>
                    <td>{{tour.docelowyKraj}}</td>
                    <td>{{tour.cenaJednostkowa | currency: tour.waluta }}</td>
                    <td>
                        <button class="tour-button btn btn-primary" (click)="deleteTour(tour.id)">Delete</button>
                        <a routerLink="/admin/tours/{{tour.id}}"><span style="margin-left: 10px;" class="tour-button btn btn-primary" href>Edit</span></a>
                        <a routerLink="/admin/tours/{{tour.id}}/tourdates"><span style="margin-left: 10px;" class="tour-button btn btn-primary" href>Add tour date</span></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>