<div class="card" style="background-color: #EFEFEF">
    <div
        [ngClass]="[wycieczka.maxIloscMiejsca - wycieczka.rezerwacje < 3 ? 'low-places' : '', isCheapest ? 'cheapest' : '', isMostExpensive ? 'expensive' : '']">
        <a [routerLink]="['/tours/', this.index]"><img class="card-img-top" src="{{wycieczka.link}}"><br></a>
        <div style="margin:10px">
            <h2>{{ wycieczka.nazwa | uppercase}}</h2><br />
            <h3>{{wycieczka.docelowyKraj | uppercase}}
                <small>{{wycieczka.cenaJednostkowa | currency: wycieczka.waluta }}</small></h3>
            <br>
        
            <br>
        </div>
    </div>
</div>